body {position: relative;
  left: 500px;
	  background-color: powderblue;
  }
  h1 {
	    color: blue;
	    position: relative;
	      left: 200px;
    }
    p {
	      color: red;
      }
      h2 {color: brown;
      }
	      p {
		        border: 2px solid powderblue;
		}
		p {
			  border: 2px solid powderblue;
			    margin: 50px;
		    }
		  i
